body, html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  background-size: cover;
  overflow-x: hidden;
}
.grid {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 80px auto;
    vertical-align: center;
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4px;
    border-radius: 4px;
    box-shadow: 2px 7px 179px 7px rgba(0,0,0,0.83);
    -webkit-box-shadow: 2px 7px 179px 7px rgba(0,0,0,0.83);
    -moz-box-shadow: 2px 7px 179px 7px rgba(0,0,0,0.83);  }
  
  .space {
    background-color: white;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .space:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s;
    cursor: pointer;
  }
  
  .x,
  .o {
    font-family: "arial";
    font-size: 60px;
    /* position: absolute; */
  }
  
  .x {
    color: tomato;
  }
  
  .o {
    color: #33dbff;
  }
  
  .header {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
    margin: 50px 0px;

    padding: 50px;
    background-image: linear-gradient(to right top, #d627de, #b733e3, #943be6, #6a42e6, #2546e5);
        box-shadow: -2px -7px 59px -5px rgba(0,0,0,0.61);
-webkit-box-shadow: -2px -7px 59px -5px rgba(0,0,0,0.61);
-moz-box-shadow: -2px -7px 59px -5px rgba(0,0,0,0.61);
border-radius: 25px;
  }
  .header:hover {
    opacity: .9;
  }
  
  .reset {
    font-size: 20px;
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-family: "Montserrat", sans-serif;
    color: tomato;
    background-color: white;
    border: 1px solid tomato;
    padding: 5px;
    transition: border, color, 0.5s;
  }
  
  .reset:hover {
    cursor: pointer;
    color: #33dbff;
    border: 1px solid #33dbff;
    transition: border, color, 0.5s;
  }
  
  .reset:focus {
    outline: none;
  }
  
  .wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .p1,
  .p2 {
    font-family: "IBM Plex Sans Condensed", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  
  .p1 {
    color: tomato;
    margin-left: 20px;
  }
  
  .p2 {
    color: #33dbff;
    margin-right: 20px;
  }
  
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .highlighted,
  .highlighted:hover {
    background-color: yellow;
  }
  .footer{

    box-shadow: -4px 3px 81px -1px rgba(0,0,0,0.61);
    -webkit-box-shadow: -4px 3px 81px -1px rgba(0,0,0,0.61);
    -moz-box-shadow: -4px 3px 81px -1px rgba(0,0,0,0.61);
    padding-top:25px;
    padding-bottom: 5px;
  }
 
  .github-repo
   {
     color:black;
    text-decoration: none;

  }
  .github-repo:hover{
    color:black;
    opacity: .6;
  }